# Project exclude paths
/.gradle/
/build/
/exe/
/.kotlin/
*.log*
*.iml
/deploy.gradle
/src/main/kotlin/com/tvkdevelopment/titanirc/TitanircConfigurationPrivate.kt
/src/main/kotlin/com/tvkdevelopment/titanirc/Playground.kt